In [2]:
list1 = [1,7,6,8,19,2,10]

In [3]:
list1

[1, 7, 6, 8, 19, 2, 10]

In [4]:
list1.append(15)

In [5]:
list1.remove(6)

In [6]:
list1

[1, 7, 8, 19, 2, 10, 15]

In [7]:
list1.count(15)

1

In [10]:
list1.sort()

In [13]:
list1.sort(reverse=True)

In [15]:
list1

[19, 15, 10, 8, 7, 2, 1]

In [20]:
list1[2]

10

In [21]:
list1[4]

7

In [23]:
list1[2] =35

In [25]:
list1

[19, 15, 35, 8, 7, 2, 1]

In [27]:
list1[-1]

1

In [29]:
list1[-2]

2

In [33]:
list1[2:5]

[35, 8, 7]

In [34]:
list1[:4]

[19, 15, 35, 8]

In [37]:
list1[3:]

[8, 7, 2, 1]

In [39]:
list1[::2]

[19, 35, 7, 1]

In [41]:
list1[0:7:2]

[19, 35, 7, 1]

In [43]:
list1

[19, 15, 35, 8, 7, 2, 1]

In [45]:
list1[::3]

[19, 8, 1]

In [47]:
list1.index(19)

0

In [50]:
list1.index(8)

3

In [53]:
list1

[19, 15, 35, 8, 7, 25, 1]

In [54]:
list1[list1.index(25)] = 22

In [57]:
list1

[19, 15, 35, 8, 7, 22, 1]

In [61]:
list1[list1.index(22)] = 25

ValueError: 22 is not in list

In [65]:
list1[list1.index(1)]=85

ValueError: 1 is not in list

In [66]:
list1

[19, 15, 35, 8, 7, 25, 85]

In [68]:
list1.insert(4,52)

In [71]:
list1

[19, 15, 35, 8, 52, 52, 7, 25, 85]

In [73]:
list1.pop(1)

35

In [75]:
list1.pop(4)

25

In [77]:
list1

[19, 8, 52, 52, 85]

In [79]:
list2=[56, 87, 85, 24]

In [81]:
list1.append(list2)

In [83]:
list1

[19, 8, 52, 52, 85, [56, 87, 85, 24], [56, 87, 85, 24]]

In [85]:
list1.pop(-1)

[56, 87, 85, 24]

In [87]:
list1

[19, 8, 52, 52, 85]

In [89]:
list1.extend(list2)

In [91]:
list1

[19, 8, 52, 52, 85, 56, 87, 85, 24, 56, 87, 85, 24]

In [93]:
list1+list2

[19, 8, 52, 52, 85, 56, 87, 85, 24, 56, 87, 85, 24, 56, 87, 85, 24]

In [95]:
list1

[19, 8, 52, 52, 85, 56, 87, 85, 24, 56, 87, 85, 24]

In [98]:
list3 = list1

In [100]:
list3.append(789)

In [102]:
list1

[19, 8, 52, 52, 85, 56, 87, 85, 24, 56, 87, 85, 24, 789, 789]

In [104]:
list3

[19, 8, 52, 52, 85, 56, 87, 85, 24, 56, 87, 85, 24, 789, 789]

In [106]:
list3 = list1.copy()

In [107]:
list3.append(789)

In [109]:
list3

[19, 8, 52, 52, 85, 56, 87, 85, 24, 56, 87, 85, 24, 789, 789, 789]

In [111]:
list1

[19, 8, 52, 52, 85, 56, 87, 85, 24, 56, 87, 85, 24, 789, 789]

In [113]:
tuple1 = (4, 5, 8, 9, 65, 10)

In [116]:
tuple1.count(65)

1

In [118]:
tuple1.index(65)

4

In [120]:
tuple1[3]

9

In [122]:
tuple1[3] = 100

TypeError: 'tuple' object does not support item assignment

In [124]:
list1 =[10,12,52,65,65,12,52,10,10]

In [126]:
list1.index(10)

0

In [128]:
list1.count(10)

3

In [130]:
set1 = set(list1)

In [132]:
set1

{10, 12, 52, 65}

In [134]:
set2 = {12,15,10,10,65,67,89}

In [136]:
set2

{10, 12, 15, 65, 67, 89}

In [138]:
set1[0] = 12

TypeError: 'set' object does not support item assignment

In [140]:
set1.add(28)

In [144]:
set1

{10, 12, 28, 52, 65}

In [146]:
set2.difference(set1)

{15, 67, 89}

In [148]:
set1.difference(set2)

{28, 52}

In [150]:
set1.intersection(set2)

{10, 12, 65}

In [152]:
set1.issubset(set2)

False

In [154]:
set1.issuperset(set2)

False

In [155]:
set3 = {10,12,28}

In [157]:
set3.issubset(set1)

True

In [159]:
dictionary = {'customer':35, 'customer2':40, 'customer3':28}

In [161]:
dictionary = {'Anne':['shoes','handbag','sunglasses'], 'Chris':['shoes', 'tshirt','shorts'], 'Maria':['book'], 'Mike':['book','soap']}

In [163]:
nested_dictionary = {'customers':
                     {
                         'customers_details':
                         {'Names':['Anne', 'Maria']}
                     }

}

In [165]:
dictionary['Anne']

['shoes', 'handbag', 'sunglasses']

In [167]:
dictionary

{'Anne': ['shoes', 'handbag', 'sunglasses'],
 'Chris': ['shoes', 'tshirt', 'shorts'],
 'Maria': ['book'],
 'Mike': ['book', 'soap']}

In [169]:
dictionary['Joe'] = ['book', 'coffee', 'shoes', 'sunglasses']

In [171]:
dictionary

{'Anne': ['shoes', 'handbag', 'sunglasses'],
 'Chris': ['shoes', 'tshirt', 'shorts'],
 'Maria': ['book'],
 'Mike': ['book', 'soap'],
 'Joe': ['book', 'coffee', 'shoes', 'sunglasses']}

In [173]:
dictionary.get('Anne')

['shoes', 'handbag', 'sunglasses']

In [177]:
dictionary.update({'Karen': ['book', 'apples']})

In [179]:
dictionary

{'Anne': ['shoes', 'handbag', 'sunglasses'],
 'Chris': ['shoes', 'tshirt', 'shorts'],
 'Maria': ['book'],
 'Mike': ['book', 'soap'],
 'Joe': ['book', 'coffee', 'shoes', 'sunglasses'],
 'Karen': ['book', 'apples']}

In [181]:
dictionary.items()

dict_items([('Anne', ['shoes', 'handbag', 'sunglasses']), ('Chris', ['shoes', 'tshirt', 'shorts']), ('Maria', ['book']), ('Mike', ['book', 'soap']), ('Joe', ['book', 'coffee', 'shoes', 'sunglasses']), ('Karen', ['book', 'apples'])])

In [182]:
dictionary.keys()

dict_keys(['Anne', 'Chris', 'Maria', 'Mike', 'Joe', 'Karen'])

In [183]:
dictionary.values()

dict_values([['shoes', 'handbag', 'sunglasses'], ['shoes', 'tshirt', 'shorts'], ['book'], ['book', 'soap'], ['book', 'coffee', 'shoes', 'sunglasses'], ['book', 'apples']])

In [184]:
list2

[56, 87, 85, 24]

In [185]:
list2[0] = list2[0]*2

In [187]:
list2[1] = list2[1]*2
list2[2] = list2[2]*2
list2[3] = list2[3]*2

In [188]:
list2

[112, 348, 340, 96]

In [189]:
for i in list2:
    print(i/2)

56.0
174.0
170.0
48.0

In [196]:
for i in list2:
    list2[list2.index(i)] = int(i//2)

In [194]:
list2

[28, 87, 85, 24]

In [195]:
list2 = int(list2)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [197]:
for i in list1:
    if i % 2 ==0:
        list1[list1.index(i)] = i*3
    else:
        list1[list1.index(i)] = i

print(list1)

[30, 36, 156, 65, 65, 36, 156, 30, 30]

In [198]:
for i in list1:
    if i % 2 ==0:
        list1[list1.index(i)] = i*3
    elif i % 3 == 0:
        list1[list1.index(i)] = i*4
    else:
        list1[list1.index(i)] = i

print(list1)

[90, 108, 468, 65, 65, 108, 468, 90, 90]

In [202]:
list1 = [2,6,5,9,10]

In [203]:
list_new = []

for i in list1:
    if i % 2 ==0 and i % 3==0:
        list_new.append(i*4)
    elif i % 2 == 0:
        list_new.append(i*3)
    elif i% 3==0:
        list_new.append(i*5)
    else:
        list_new.append(i)

print(list_new)

[6, 24, 5, 45, 30]

In [201]:
for i in list1:
    if i % 2 ==0 and i % 3==0:
        list1[list1.index(i)] = i*4
    elif i % 2 == 0:
        list1[list1.index(i)] = i*3
    elif i% 3==0:
        list1[list1.index(i)] = i*5
    else:
        list1[list1.index(i)] = i

print(list1)

[24, 6, 5, 45, 30]